header
{
	
}

body
{
	background-color: #f4f3f1;
}

#phrase
{
	text-align: center;
	color: #9fa881;
	text-decoration: underline;
}

h2
{
	
}

.app-photos
{
	text-align: center;
}

main
{
	background-color: white;
	border-color: black;
	border-style: solid;
	border-width: 5px;
	border-radius: 10px;
	padding: 5px;
	margin: 10px;
	font-family: tahoma;
	
}

footer
{
	
}